
  
  <head role = "header"
  class="header-top" id="header-top">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>PM Flex</title>

    <% include ./scripts %>

    <!-- style -->

    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/stylesheets/">

    <!-- carousel -->

    <link href="/stylesheets/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- responsive -->

    <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- font-awesome -->

    <link href="/stylesheets/animate.min.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/popup.css" rel="stylesheet" type="text/css">

  </head>