body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  background-color: black;
  
}

a {
  color: #00B7FF;
}
